/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3uvltx");
  src: url("../fonts/icomoon.eot?3uvltx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3uvltx") format("truetype"), url("../fonts/icomoon.woff?3uvltx") format("woff"), url("../fonts/icomoon.svg?3uvltx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 30, ../sass/icomoon.scss */
.icon-file-text:before {
  content: "\e922";
}

/* line 33, ../sass/icomoon.scss */
.icon-price-tag:before {
  content: "\e935";
}

/* line 36, ../sass/icomoon.scss */
.icon-user:before {
  content: "\e971";
}

/* line 39, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e972";
}

/* line 42, ../sass/icomoon.scss */
.icon-spinner9:before {
  content: "\e982";
}

/* line 45, ../sass/icomoon.scss */
.icon-list2:before {
  content: "\e9bb";
}

/* line 48, ../sass/icomoon.scss */
.icon-heart:before {
  content: "\e9da";
}

/* line 51, ../sass/icomoon.scss */
.icon-checkmark:before {
  content: "\ea10";
}

/* line 54, ../sass/icomoon.scss */
.icon-facebook:before {
  content: "\ea90";
}

/* line 57, ../sass/icomoon.scss */
.icon-twitter:before {
  content: "\ea96";
}

/* line 31, ../sass/style.scss */
body {
  font-size: 62.5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #efefef;
}

/* line 40, ../sass/style.scss */
.hero {
  min-height: 25em;
  margin: 0 auto;
  background: url("../images/hero.png");
  background-size: cover;
  color: white;
}
/* line 49, ../sass/style.scss */
.hero header {
  padding-top: 2em;
  max-width: 80%;
  margin: 0 auto;
}
/* line 53, ../sass/style.scss */
.hero header img {
  width: 3.5em;
  height: 5em;
  float: left;
}
/* line 58, ../sass/style.scss */
.hero header nav ul {
  float: right;
}
/* line 61, ../sass/style.scss */
.hero header nav ul li {
  float: left;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 1.5em;
}
/* line 69, ../sass/style.scss */
.hero header nav ul li:hover {
  cursor: pointer;
  background-color: #6cdcac;
  border: 1px solid #6cdcac;
}
/* line 75, ../sass/style.scss */
.hero header nav ul li:last-child {
  border: 1px solid white;
}
/* line 79, ../sass/style.scss */
.hero header nav ul li:last-child:hover {
  border: 1px solid #6cdcac;
}
/* line 7, ../sass/style.scss */
.hero header:before, .hero header:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/style.scss */
.hero header:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
/* line 20, ../sass/style.scss */
.hero header {
  *zoom: 1;
}
/* line 88, ../sass/style.scss */
.hero h1 {
  font-size: 4em;
  font-weight: bold;
  padding: 1em 0 0.5em 0;
}
/* line 93, ../sass/style.scss */
.hero h2 {
  font-size: 2em;
  color: #d9dada;
}
/* line 98, ../sass/style.scss */
.hero form {
  padding: 2em 0 16em 0;
  width: 50%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
}
/* line 105, ../sass/style.scss */
.hero form input[type="text"] {
  flex: 5;
  padding: 1em;
  border: 0;
  border-radius: 2px 0 0 2px;
  background: #efefef;
  opacity: 0.3;
}
/* line 114, ../sass/style.scss */
.hero form input[type="button"] {
  flex: 1;
  color: white;
  padding: 1em;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
  text-transform: uppercase;
}
/* line 123, ../sass/style.scss */
.hero form input::-webkit-input-placeholder {
  color: #6cdcac;
}

/* line 131, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 134, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: -5em;
  background: #efefef;
  border-radius: 2px;
  border: 1px solid #d9dada;
}
/* line 141, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #d9dada;
}
/* line 147, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: none;
}
/* line 151, ../sass/style.scss */
.numbers ul li h2 {
  font-size: 3em;
  font-weight: 900;
  padding: 1em 0;
}
/* line 157, ../sass/style.scss */
.numbers ul li h3 {
  font-size: 1.5em;
  padding: 0 0 2em 0;
}
/* line 7, ../sass/style.scss */
.numbers ul:before, .numbers ul:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/style.scss */
.numbers ul:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
/* line 20, ../sass/style.scss */
.numbers ul {
  *zoom: 1;
}

/* line 168, ../sass/style.scss */
.how-it-works {
  border-bottom: 1px solid #d9dada;
  padding: 30px;
  margin: 0 auto;
}
/* line 172, ../sass/style.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 177, ../sass/style.scss */
.how-it-works h2:after {
  content: '';
  display: block;
  width: 2em;
  height: 2px;
  background-color: #d9dada;
  margin: 0.4em auto;
}
/* line 186, ../sass/style.scss */
.how-it-works ul {
  margin: 0 auto;
}
/* line 188, ../sass/style.scss */
.how-it-works ul li {
  float: left;
  width: 33.3%;
  position: relative;
}
/* line 193, ../sass/style.scss */
.how-it-works ul li:before {
  display: block;
  content: '';
  width: calc(100% - 5em);
  height: 1px;
  background-color: #d9dada;
  position: absolute;
  left: 50%;
  top: 6em;
  margin: 0 2.5em;
}
/* line 205, ../sass/style.scss */
.how-it-works ul li:last-child:before {
  display: none;
}
/* line 209, ../sass/style.scss */
.how-it-works ul li .detail {
  margin: 0 auto;
}
/* line 212, ../sass/style.scss */
.how-it-works ul li .detail .number {
  display: inline-block;
  margin: 2em auto;
  padding: 1em;
  width: 1em;
  height: 1em;
  border-radius: 5em;
  border: 1px solid #d9dada;
  font-size: 2em;
  color: #4f4f4f;
  font-weight: bold;
}
/* line 227, ../sass/style.scss */
.how-it-works ul li .detail i[class^="icon-"] {
  display: block;
  font-size: 3.6em;
}
/* line 232, ../sass/style.scss */
.how-it-works ul li .detail .icon-list2 {
  color: #ECA95A;
}
/* line 235, ../sass/style.scss */
.how-it-works ul li .detail .icon-pencil {
  color: #AC9CD2;
}
/* line 238, ../sass/style.scss */
.how-it-works ul li .detail .icon-users {
  color: #4D99CB;
}
/* line 243, ../sass/style.scss */
.how-it-works ul li .detail h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}
/* line 248, ../sass/style.scss */
.how-it-works ul li .detail p {
  line-height: 1.864em;
  width: 70%;
  margin: 0 auto;
}
/* line 7, ../sass/style.scss */
.how-it-works ul:before, .how-it-works ul:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/style.scss */
.how-it-works ul:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
/* line 20, ../sass/style.scss */
.how-it-works ul {
  *zoom: 1;
}

/* line 266, ../sass/style.scss */
.advans {
  border-bottom: 1px solid #d9dada;
  padding: 6em 0;
}
/* line 269, ../sass/style.scss */
.advans h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 274, ../sass/style.scss */
.advans h2:after {
  content: '';
  display: block;
  width: 2em;
  height: 2px;
  background-color: #d9dada;
  margin: 0.4em auto;
}
/* line 284, ../sass/style.scss */
.advans ul {
  width: 80%;
  margin: 0 auto;
}
/* line 288, ../sass/style.scss */
.advans ul li {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2em;
}
/* line 296, ../sass/style.scss */
.advans ul li i {
  float: left;
  font-size: 3em;
}
/* line 300, ../sass/style.scss */
.advans ul li .icon-checkmark {
  color: #7dc699;
}
/* line 303, ../sass/style.scss */
.advans ul li .icon-price-tag {
  color: #26bdea;
}
/* line 306, ../sass/style.scss */
.advans ul li .icon-spinner9 {
  color: #efb264;
}
/* line 309, ../sass/style.scss */
.advans ul li .icon-user {
  color: #bb8cc7;
}
/* line 312, ../sass/style.scss */
.advans ul li .icon-file-text {
  color: #f87d82;
}
/* line 315, ../sass/style.scss */
.advans ul li .icon-heart {
  color: #ef8d62;
}
/* line 319, ../sass/style.scss */
.advans ul li .text-details {
  margin-left: 8em;
}
/* line 323, ../sass/style.scss */
.advans ul li h3 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 329, ../sass/style.scss */
.advans ul li p {
  line-height: 1.864em;
  width: 80%;
}

/* line 340, ../sass/style.scss */
.review {
  border-bottom: 1px solid #d9dada;
  padding: 6em 0;
}
/* line 346, ../sass/style.scss */
.review .review-button {
  display: inline-block;
  padding: 1em 2em;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid #777780;
  text-decoration: none;
  margin-bottom: 2em;
  color: #777780;
}
/* line 355, ../sass/style.scss */
.review .review-button:first-child {
  border-radius: 2px 0 0 2px;
}
/* line 359, ../sass/style.scss */
.review .review-button:last-child {
  border-left: none;
  border-radius: 0 2px 2px 0;
}
/* line 365, ../sass/style.scss */
.review .review-button:hover {
  background-color: #777780;
  color: white;
}
/* line 370, ../sass/style.scss */
.review blockquote {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 1em auto;
  width: 80%;
}
/* line 376, ../sass/style.scss */
.review blockquote:before {
  content: '"';
  color: #d9dada;
  font-size: 2em;
  display: block;
}
/* line 382, ../sass/style.scss */
.review blockquote cite {
  font-size: 0.8em;
  margin-top: 2em;
  display: block;
}
/* line 387, ../sass/style.scss */
.review blockquote cite:before {
  content: '';
  width: 2em;
  height: 1px;
  display: block;
  margin: 1em auto;
  background-color: #d9dada;
}
/* line 396, ../sass/style.scss */
.review blockquote cite .stuff {
  color: #d9dada;
  display: block;
}
/* line 404, ../sass/style.scss */
.review ul li {
  display: inline-block;
  border-radius: 100px;
  padding: 5px;
  width: 10em;
  margin: 1em 2em;
  position: relative;
}
/* line 412, ../sass/style.scss */
.review ul li img {
  width: 100%;
  border-radius: 100px;
}
/* line 416, ../sass/style.scss */
.review ul li:nth-child(2) {
  border: 1px solid #d9dada;
}
/* line 420, ../sass/style.scss */
.review ul li:nth-child(2) .mask {
  display: none;
}
/* line 423, ../sass/style.scss */
.review ul li .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  background: #d9dada;
  opacity: 0.75;
}

/* line 437, ../sass/style.scss */
.search {
  background: url("../images/hero.png");
  background-size: cover;
  padding: 8em 0;
}
/* line 442, ../sass/style.scss */
.search form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/* line 449, ../sass/style.scss */
.search form label {
  color: white;
  font-size: 3em;
  font-weight: bold;
  width: 200px;
  text-align: left;
  margin-right: 1em;
}
/* line 460, ../sass/style.scss */
.search form input {
  border: none;
  font-size: 1.5em;
  padding: 1.5em 2em;
}
/* line 467, ../sass/style.scss */
.search form input[type="text"] {
  border-radius: 2px 0 0 2px;
  flex: 5;
}
/* line 473, ../sass/style.scss */
.search form input[type="button"] {
  background-color: #6cdcac;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  color: white;
  flex: 1;
}

/* line 488, ../sass/style.scss */
footer {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}
/* line 492, ../sass/style.scss */
footer ul {
  text-align: left;
  float: left;
}
/* line 495, ../sass/style.scss */
footer ul li {
  display: inline-block;
  padding: 1em;
}
/* line 498, ../sass/style.scss */
footer ul li a {
  text-decoration: none;
  color: #a9a5a3;
  font-size: 1.5em;
}
/* line 503, ../sass/style.scss */
footer ul li a:hover {
  color: rgba(169, 165, 163, 0.45);
}
/* line 512, ../sass/style.scss */
footer .social {
  float: right;
}
/* line 514, ../sass/style.scss */
footer .social .icon-twitter {
  color: #64a4d0;
}
/* line 517, ../sass/style.scss */
footer .social .icon-facebook {
  color: #6980b9;
}
/* line 7, ../sass/style.scss */
footer:before, footer:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/style.scss */
footer:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
/* line 20, ../sass/style.scss */
footer {
  *zoom: 1;
}
